page-login {
  .toolbar-background {
    background-color: #fff;
  }

  .scroll-content {

  }

  .label {
    color: #000 !important;
    font-size: 1.25em !important;
  }

  .item {

  }

  .img-col {
    text-align: center;
  }

  img {
    max-height: 75px;
  }
}
