page-landing {

  .no-scroll .scroll-content {
    overflow:hidden;
  }
  .scroll-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    //background-color: rgb(92, 139, 159);
    //background-color: #FF6700;
    background-color: #00A88C;
  }

  .ion-header {
    background-color: #00A88C !important;
  }
  .toolbar-background {
    background-color: #00A88C;
  }

  .bar-button {
    color: black;
  }

  .toolbar-title {
    text-align: center;
    font-family: Lobster;
  }

  .grid {
    height: 100%;
    max-width: 420px !important;
    justify-content: center;
    .image-row {

    }
    .button-row {

    }
  }

  .speech-bubble {
    background-color: #fff;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-size: 1.5em;
      margin: 0;
      text-align: center;
      padding: 2px;
      height: 100%;
      display: flex;
      align-items: center;
      padding-top: 15%;
      padding-bottom: 15%;
    }

  }

}
