page-list {
  .header .toolbar-background {
    background-color: #00A88C !important;
  }
  .scroll-content {
    background: #fff;
  }

  // .list-status {
  //   //max-width: 540px !important;
  //   background-color: #fff !important;
  //   .toolbar-col {
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: center;
  //     padding: 0;
  //     //border-bottom: 3px solid black !important;
  //     h2 {
  //       margin-bottom: 0;
  //       margin-top: 5px;
  //     }
  //     p {
  //       margin: 0;
  //     }
  //   }
  // }

  .footer {
    display: flex;
    justify-content: center;
  }
  .bar-buttons {
    display: flex;
    flex: 1;
    justify-content: space-around;
    max-width: 540px;
  }

  .grid {
    height: 100%;
    max-width: 720px !important;

    .label {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .item:nth-child(even) {
      background-color: #f4f4f4;
    }

    .school-demo {
      
    }
  }
}
