<ion-header>
  <ion-navbar>
    <ion-title>
      My List
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only color="dark" (click)="toggleListOptions()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-grid no-padding class="college-list">

    <ion-list  no-lines>

      <ion-item-group [reorder]="reOrder" (ionItemReorder)="reorderItems($event)" >
        <ion-item *ngFor="let school of filteredList; let i = index" text-wrap>
          <ion-row>
            <ion-col col-2 class="school-demo">
              <h1><ion-icon name="{{ school?.icon }}" color="dark"></ion-icon></h1>
            </ion-col>
            <ion-col (click)="goToCollege(school.unitid)" col-9 class="school-demo">
              <h2>
                <!-- <ion-icon name="{{ school.icon }}"></ion-icon> -->
                {{ school.instnm }}
              </h2>
              <p>{{ school.city }}, {{ school.stabbr }}</p>
            </ion-col>
            <ion-col *ngIf="listOptions" col-1 class="school-demo" align-self-center>
              <ion-icon color="danger" name="trash" (click)="removeSchool(school)"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-item-group>

    </ion-list>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-buttons *ngIf="collegeOdds" class="footer-buttons">
    <button ion-button (click)="toggleFilter('all')" [color]="filter == 'all' ? 'primary': 'light'">
      All
    </button>
    <button ion-button (click)="toggleFilter('moonshot')" icon-only [color]="filter == 'moonshot' ? 'primary': 'light'">
      <ion-icon name="star-half"></ion-icon>
    </button>
    <button ion-button (click)="toggleFilter('reach')" icon-only [color]="filter == 'reach' ? 'primary': 'light'">
      <!-- <ion-icon name="color-wand"></ion-icon> -->
      <ion-icon name="flag"></ion-icon>
    </button>
    <button ion-button (click)="toggleFilter('target')" icon-only [color]="filter == 'target' ? 'primary': 'light'">
      <ion-icon name="locate"></ion-icon>
    </button>
    <button ion-button (click)="toggleFilter('safety')" icon-only [color]="filter == 'safety' ? 'primary': 'light'">
      <ion-icon name="warning"></ion-icon>

    </button>

  </ion-buttons>
  <ion-toolbar *ngIf="!collegeOdds" class="footer-text">
    <p>Complete your academic profile to get your admission chances.</p>
  </ion-toolbar>
</ion-footer>
